.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.menu > button {
  height: 30px;
  width: 40px;
  cursor: pointer;
  border-radius: 4px;
  transition: 300ms;
  border: none;
}

.menu > button:hover {
  background-color: lightgray;
  scale: 1.1;
}

.menu > button:active {
  background-color: gray;
}

.active-option {
  background-color: lightgray;
}
